.flex {
    display: flex;
}


body {
    font-size: 30px;
    display: block;
    margin: 50px;
}

#clear:hover {
    background-color: burlywood;
}

#deletee:hover {
    background-color: rgb(221, 183, 133);
}

.number {
    background-color: beige;
    border: solid blue;
    width: 50px;
    height: 50px;

}

#clear {
    background-color: beige;
    border: solid blue;
    width: 106px;
    height: 50px;
}

#deletee {
    background-color: beige;
    border: solid blue;
    width: 106px;
    height: 50px;
}

#display {
    background-color: beige;
    border: solid blue;
    width: 218px;
    height: 50px;
}

